app-dashboard{
    display: block;
    width: 75%;
    margin: 0px auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgba(34, 34, 0.5);
}
.form-heading{
    border-top: 1px solid black;
}
.form .form-heading h6{
    text-align: center;
    background-color: white;
    width: 200px;
    transform: translateY((-50%));
}
.btn {
    margin-top: 0px;
    margin-right: 10px;
    border-radius: 15px; 
}
table, th, td {
    border: 1px solid;
  }
 